.bigcontainer {
    flex: 1;
    margin:3px 1px;
}
.productselling{
display: flex;
padding:3px 6px;
}
.productselling1{
    flex: 1;
    float: left;
}
.productselling2{
    flex: 1;
    float: right;
}
@media (max-width:990px){
    .cardd {
        width: 45rem !important;
    }
}
@media (max-width:920px){
    .cardd {
        width: 41.5rem !important;
        margin: 0;
    }
}
@media (max-width:862px){
    .cardd {
        width: 37.5rem !important;
        margin: 0;
    }
}
@media (max-width:790px){
    .cardd {
        width: 32rem !important;
        margin: 0;
    }
}
@media (max-width:687px){
    .cardd {
        width: 26rem !important;
    }
}

@media (max-width:600px){
    .cardd {
        width: 20rem !important;
    }
}
@media (max-width:520px){
    .cardd {
        width: 16rem !important;
    }
}
img {
  width: 70px;
  height: 30px;
  object-fit: contain;
   padding: 0;
  margin: 0;
}
.price {
    background-color: rgb(230, 221, 221);
    font-weight: bolder;
    margin-left: 3px;
    width: 50%;
    text-align: center;
}